/* Setting the default setting */

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    background-color: #F0F3FB;
    height: 100vh;
    display: grid;
    place-items: center;
}

img {
    width: 35px;
    padding: 5px;
}

.toasts {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.toasts-one {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.toasts-two {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.toasts-three {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.toast {
    width: 700px;
    padding: 5px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 12px;
    gap: 10px;
}

.white {
    background-color: white;
    color: #333;
}

.black {
    background-color: #151626;
    color: #dcdcdc;
}

.shadow {
    box-shadow: 0 4px 8px -3px rgba(21, 22, 38, 0.3);
}

.rounded {
    border-radius: 25px;
}

.mrg-right {
    margin-right: 20px;
}

.center {
    justify-content: center;
}

/* close */

.close {
    position: absolute;
    width: 32px;
    height: 32px;
}

.close:hover {
    opacity: 0.5;
}

.close:before,
.close:after {
    position: absolute;
    left: 670px;
    top: 8px;
    content: ' ';
    height: 16px;
    width: 2px;
    background-color: #C1C2E0;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}

/* line */

.line {
    position: relative;
    background-color: #C1C2E0;
    height: 3px;
    width: 120px;
    right: 410px;
    top: 21px;
}